<!DOCTYPE html>

<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <link rel="stylesheet" type="text/css" href="font-awesome.css"/>
    </head>
    <body>
        <div class="LogIn">
            <img src="images/man.png"/>
            <form action='' method="POST"> 
                <input id='txtbox1' type='text' placeholder='User Name' value=''/><br>
                <input id='txtbox2' type='text' placeholder='Password' value=''/><br>        
                               
                <input id='btn' type='button' value='Log In'/><br>        
            <a href="Register.html">New users click here.</a><br>
            <a href="Forgot.html">Forgot password?</a><br>
        </div>  
        
    </body>
</html>
