<!DOCTYPE html>

<html>
    <head>
        <title>Login Confirmation</title>
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="Confirmation Page">
            <h5>Login Successful!</h5>
                <p><a href="change_details.html">Change Account Details</a></p>
        </div>
    </body>
</html>
