<!DOCTYPE html>

<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <link rel="stylesheet" type="text/css" href="font-awesome.css"/>
    </head>
    <body>
        <div class="LogIn">
            <img src="man.png"/>
            <form action='' method="POST"> 
                <input id='txtbox1' type='text' placeholder='User Name' value=''/><br>
                <input id='txtbox2' type='text' placeholder='Password' value=''/><br>        
                               
                <input id='btn' type='button' value='Log In'/><br>        
            </form>
            <form action="/register" method="get">
                <input type="submit" value="New users click here." />
            </form>
            <form action="/forgot" method="get">
                    <input type="submit" value="Forgot Password"/>
            </form>
        </div>          
    </body>
</html>