<!DOCTYPE html>

<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <link rel="stylesheet" type="text/css" href="font-awesome.css"/>
    </head>
    <body>
        <div class="LogIn">
            <img src="man.png"/>
            <form action="/attemptLogin" method="post" id="attemptLogin"> 
                <input type="text" name="userName" id="userName" placeholder="User Name"/><br>
                <input type="password" name="password" id="password" placeholder="Password"/><br>                     
                <input id="submitLogin" class='styledButton' type="submit" value="Log In"/><br>        
            </form>
            <br />
            <form action="/register" method="get">
                <input id='styledButton' type="submit" value="New users click here." />
            </form>
            <br />
            <form action="/forgot" method="get">
                    <input id='styledButton' type="submit" value="Forgot Password"/>
            </form>
        </div>          
    </body>
</html>
