<html>
    <head>
        <title>Procedure Search</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="style.css"/>
        <link rel="stylesheet" type="text/css" href="font-awesome.css"/>
    </head>
    <body>
        <div class="registerform">
            <h5>Search for a Procedure!</h5>
            <form action='' method="POST"> 
            
                <input id='txtbox1' type='text' placeholder='Procedure Type' value=''/><br>
                <br>
                <br>
                <input id='txtbox2' type='text' placeholder='Zip Code' value=''/><br>
                               
                <input id='btn' type='button' value='Search'/><br>
        </div>
    </body>
</html>
