<html>
    <head>
         <title>Procedure Search</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="style.css"/>
        <link rel="stylesheet" type="text/css" href="font-awesome.css"/>
    </head>
    <body>
        <div class="registerform">
            <h5>Search for a Procedure!</h5>

            
            
            
            <div id="entry">      
                <h7>Procedure Type</h7><br>
               
                <!--Select is tied to pricesForm-->
                <select id='txtbox1' name="txtbox1" form= "pricesForm"></select>

                <form action="/showprices"  id="pricesForm"  method="get">
                    <input id='txtbox2'   name="txtbox2"  type='text' placeholder='Zip Code' value='' /><br>
                    <input id='btn' type='submit' value='Search' /><br>
                </form>
            </div>



            <form action="/homePage" method="get">
                <input type="submit" value="Back to Home Page" />
            </form>


            <div id='resultdiv'></div>
        </div>
        <script src="searchProcedure.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    </body>
</html>
